<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/icon/favicon.ico') }}">
    <title>Datashield</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/interface.css') }}">

</head>

<body>

    <div class="container">

        <header>
            <div class="cabecalho_logo">
                <img class="logo" src="{{ url_for('static', filename='assets/images/logo-ds.svg') }}" alt="">
                <h1>DATASHIELD</h1>
            </div>
        </header>

        <main class="main">

            <div id="carregando">
                <div class="loading"></div>
            </div>

            <div id="conteudo-1" class="d-none">
                <h2 class="title">
                    Ei, <span id="nome-usuario"> Jorge.</span>
                    <br> <span id="mensagem">Estamos protegendo você.</span>
                </h2>

                <div class="card-group">

                    <div class="row">

                        <div class="card card-green">
                            <img class="icon" src="{{ url_for('static', filename='assets/images/icononda.png') }}"
                                alt="" />
                            <h3 id="ultima-analise">02 de outubro</h3>
                            <p>Vigilância ativa desde</p>
                        </div>

                        <div class="card card-proccess">
                            <img class="icon" src="{{ url_for('static', filename='assets/images/iconpasta.png') }}"
                                alt="" />
                            <h3 id="numero-processos">142</h3>
                            <p>Processos analisados</p>
                        </div>

                    </div>

                    <div class="row">

                        <div class="card card-status">
                            <img class="icon" src="{{ url_for('static', filename='assets/images/iconstatus.png') }}"
                                alt="" />
                            <h3 style="text-transform: capitalize;">
                                <span id="status" class="status"></span> <span id="status-mensagem"></span>
                            </h3>
                            <p>Status</p>
                        </div>

                        <div class="card card-outline">
                            <img class="icon" src="{{ url_for('static', filename='assets/images/iconscan.png') }}"
                                alt="" />
                            <h3>Relatório de processos</h3>
                            <div class="more">
                                <a href="/historico">Ver mais</a>
                                <img src="{{ url_for('static', filename='assets/images/iconseta.png') }}" alt="" />
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div id="conteudo-2" class="card-monitoramento-container d-none">

                <img src="{{ url_for('static', filename='assets/images/robo.png') }}" class="robo-img" alt="" />
                <div class="card">
                    <div>
                        <span>
                            <h4 id="titulo-monitorar">Ative o monitoramento</h4>
                            <p id="mensagem-monitorar">Sua segurança está em risco</p>
                        </span>
                        <label class="switch">
                            <input id="checkbox" type="checkbox" />
                            <span class="slider round"></span>
                        </label>
                    </div>
                    <div class="animation">
                        <img id="img-status" src="{{ url_for('static', filename='assets/images/status-monitoramento.png') }}" class="" />
                    </div>
                </div>

            </div>

        </main>

    </div>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"
    integrity="sha512-16esztaSRplJROstbIIdwX3N97V1+pZvV33ABoG1H2OyTttBxEGkTsoIVsiP1iaTtM8b3+hu2kB6pQ4Clr5yug=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>

    const checkbox = document.querySelector("#checkbox");

    // Pega as configurações do projeto
    async function aplicarConfiguracoes() {

        const resposta = await fetch('/api/configuracoes')
        let dados = await resposta.json();

        dados = dados.data;

        aplicarTextos(dados.status == 'ativo');

        if (dados.status == 'ativo') {
            
            const status_fetch = await fetch('/api/status');
            const status = await status_fetch.json()
            
            if (!status.data.status_health) {
                monitorarSistema();
            }

        }

        document.getElementById("nome-usuario").innerHTML = dados.nome_usuario;
        document.getElementById("numero-processos").innerHTML = dados.processos_analisados;
        document.getElementById("ultima-analise").innerText = dados.ultima_analise;

        document.getElementById("conteudo-1").classList.remove('d-none');
        document.getElementById("conteudo-2").classList.remove('d-none');
        document.getElementById("conteudo-1").classList.add('fade-in');
        document.getElementById("conteudo-2").classList.add('fade-in');
        document.getElementById("carregando").classList.add('d-none');

    }

    aplicarConfiguracoes();

    function aplicarTextos(status) {

        if (status) {

            document.getElementById("status-mensagem").innerText = "Seguro";
            document.getElementById("titulo-monitorar").innerHTML = "Monitorando o sistema";
            document.getElementById("mensagem-monitorar").innerHTML = "Sua segurança está ativa.";
            document.getElementById("mensagem").innerHTML = "Estamos protegendo você.";
            document.getElementById("status").classList.remove('vermelho');
            document.getElementById("img-status").classList.add('ativo');
            document.getElementById("img-status").classList.remove('inativo');
            checkbox.checked = true;

        } else {

            document.getElementById("status-mensagem").innerText = "Inseguro";
            document.getElementById("titulo-monitorar").innerHTML = "ATIVE O MONITORAMENTO";
            document.getElementById("mensagem-monitorar").innerHTML = "Sua segurança está em risco!";
            document.getElementById("mensagem").innerHTML = "Sua proteção está desativada.";
            document.getElementById("status").classList.add('vermelho');
            document.getElementById("img-status").classList.add('inativo');
            document.getElementById("img-status").classList.remove('ativo');
            checkbox.checked = false;

        }

    }

    async function monitorarSistema() {

        const dataAtual = new Date();

        const diaAtual = dataAtual.getDate();

        const formatoData = new Intl.DateTimeFormat('pt-BR', { month: 'long' });

        const mesAtual = formatoData.format(dataAtual);

        document.getElementById("ultima-analise").innerText = `${diaAtual} de ${mesAtual}`;

        fetch('/api/monitorar')
            .then(response => response.json())
            .then(data => {
                console.log(data);
            });

    }

    async function desligar() {

        fetch('/api/desligar')
            .then(response => response.json())
            .then(data => {
                console.log(data);
            });

    }

    var colorStatus = localStorage.getItem('dtsldColorStatus') ?? 0x0B7314;

    checkbox.addEventListener("change", async () => {

        // Ligar
        if (checkbox.checked) {

            await monitorarSistema();
            colorStatus = 0x0B7314;
            localStorage.setItem('statusMonitoramento', 'ligado');

        } else { // Desligar

            await desligar();
            colorStatus = 0xD11400;
            localStorage.setItem('statusMonitoramento', 'desligado');

        }

        aplicarTextos(checkbox.checked);

    });

</script>
<!-- <script src="{{ url_for('static', filename='js/animation.js') }}"></script> -->

</html>