<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DATASHIELD</title>
    <link rel="stylesheet" href="../static/css/reset.css" />
    <link rel="stylesheet" href="../static/css/site.css" />
</head>
<body>

        <header class="cabecalho">
            <div class="alinhamento">
                <div class="cabecalho_logo">
                    <img class="logo" src="../static/assets/images/logo-ds.svg" alt="">
                    <h1>DATASHIELD</h1>
                  </div>
      
                  <div class="opcoes">
                      <ul >
                          <li> <p style="margin-left:540px;">Home</p> </li>
                          <li> <p>Ferramenta</p> </li>
                          <li> <p>Planos</p> </li>
                          <li> <p>Ransomwares</p> </li>
                          <li> <p>Nós</p> </li>
                      </ul>
                  </div>
            </div>
        </header>


    <main>
        <div class="main">
            <div class="video-container">

                <video autoplay loop muted width="100%">
                     <source src="../static/assets/waves_-_894 (Original).mp4" type="video/mp4" />
                </video>    
                
                <h2>
                    <span  id="texto1"  class="texto1">Proteja seus dados, conserve as</span>
                    <span  id="texto2"  class="texto2"> histórias memoráveis </span>
                </h2>

                <h2>
                    <span  id="texto3"  class="texto3">Conquiste a segurança dos seus dados</span>
                    <span  id="texto4"  class="texto4">com a ferramenta Datashield </span>
                    <hr class="line" width="29%" color="#212121" />
                </h2>


                <nav class="estilo-btn">
                    <input type="submit" value="Baixar" class="btn">
                </nav>
                
            </div>
        </div>

        <div class="imagem-centro">
            <img class="img-int" src="../static/assets/images/imagem-interface.png" alt="">
        </div>

    </main>


</body>
</html>