@font-face {
    font-family: "FuturaLT";
    src: url("../assets/fonts/FuturaLT-Bold.woff") format("woff");
}

@font-face {
    font-family: "Helvetica";
    src: url("../assets/fonts/Helvetica.woff") format("woff");
}
@font-face {
    font-family: "Helvetica-Bold";
    src: url("../assets/fonts/Helvetica-Bold.woff") format("woff");
}

@font-face {
    font-family: "Baskerville" ;
    src: url(../assets/fonts/Baskerville10ProMedium-Italic.woff) format("woff");
}

body {
    background-color: black;
    padding: 4.375rem;
  }

.cabecalho {
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    padding: 2.813rem 2.5rem 2.5rem 4.375rem;
    align-items: flex-start;
}

h1{
    color: #ffffff;
    font-family: "FuturaLT";
    font-size: 1.563rem; 
    margin-left: 0.625rem;
}
  
.alinhamento{
    display: inline-flex;
    align-items: center;

}

.cabecalho_logo {
    height: 3.75rem;
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 0.938rem;
    width: 3.125rem;
}

.opcoes ul li  {
        display: inline-block;
        padding-right: 2.813rem;
        font-size: 1.10rem;
        font-family: "Helvetica";
    }

.video-container{
    margin-top: 5.625rem;
    width: 104%;
}

.main{
    display: inline-block;
    position: relative;
}

h2{
    color: #ffffff;
    font-size: 3.75rem;
}

h2 .texto1 {
    font-weight: bold;
    font-family: "Helvetica-Bold";
}
  
h2 .texto2 {
    display: block;
    font-family: "Baskerville" ;
}


#texto1 {
    position: absolute;
    font-size: 3.563rem;
    left: 0.313rem;
    top: 12.5rem;
  }

#texto2 {
    position: absolute;
    font-size: 3.563rem;
    left: 0.313rem;
    top: 16.25rem;
}

h2 .texto3{
   font-family: "Helvetica";
}

h2 .texto4{
    display: block;
    font-family: "Helvetica";
}

#texto3{
    position: absolute;
    font-size: 20px;
    left: 20px;
    top: 550px;
}

#texto4{
    position: absolute;
    font-size: 20px;
    left: 20px;
    top: 575px;
}

.line{
    position: absolute;
    left: 20px;
    top: 575px;
}

.estilo-btn{
    position: absolute;
    left: 1100px;
    top: 550px;
	align-items: center; 
	flex-grow: 0.5; 
	justify-content: end;
}


.btn{
	width: 150px;
	height: 50px;
	margin: 0 0 0 0;
	background: #0b7314;
	color: white;
	font-size: 17px;
	border: none;
	border-radius: 15px;
	cursor: pointer;
}

.imagem-centro{
    background-color: black;
    display: flex;
    justify-content: center;
}

.img-int{
    margin-top: 70px;
    width: 60%;
}

h2 .texto5 {
    font-weight: bold;
    font-family: "FuturaLT";
}
  
h2 .texto6 {
    display: block;
    font-family: "Baskerville" ;
}

h2 #texto5 {
    color: #ffffff;
    position: absolute;
    font-size: 65px;
    top: 1450px;

}

h2 #texto6{
    color: #ffffff;
    position: absolute;
    font-size: 65px;
    top: 1510px;
}

h2 .texto7 {
    font-weight: bold;
    font-family: "FuturaLT";
}
  
h2 .texto8 {
    display: block;
    font-family: "Baskerville" ;
}

h2 #texto7 {
    color: #ffffff;
    position: absolute;
    font-size:30px;
    top: 1650px;
    left: 200px;
}

h2 #texto8{
    color: #ffffff;
    position: absolute;
    font-size: 30px;
    top: 1700px;
    left: 200px;
}

h2 .texto9 {
    font-weight: bold;
    font-family: "FuturaLT";
}
  
h2 .texto10 {
    display: block;
    font-family: "Baskerville" ;
}

h2 #texto9 {
    color: #ffffff;
    position: absolute;
    font-size:30px;
    top: 1900px;
    left: 350px;
}

h2 #texto10{
    color: #ffffff;
    position: absolute;
    font-size: 30px;
    top: 1950px;
    left: 350px;
}